@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 92.06%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  /* padding-top: 49px; */
  margin:49px 0 42px;
  background-color: #FFF;
}

header > div {
  display: flex;
  justify-content: space-between;
}

.brand-name > a {
  text-indent: -9999px;
}

.brand-name > a > img {
  float: right;
}

nav {
  padding-top: 27px;
  /* flex-basis: 36.07%; */
  flex-basis: 77.91%;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  /* padding-right: 38px; */
  margin-right: 38px;
  font-size: 26px;
  text-transform: uppercase;
}

.navbar li:hover {
  /* padding: 20px 1.16%; */
  padding: 18px;
  background-color: #1bbc9b;
  
}

.navbar li > a {
  color:#444444;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.hero-section > div {
  width: 100%;
}

.section1-title {
  font-size: 52px;
  text-align: center;
}

.section1-para {
  margin-top: 18px;
  font-size: 29px;
  text-align: center;
}

.portfolio-filters li {
  padding: 19px 1.71%;
  background-color: #1bbc9b;
  color:#FFF;
  font-size: 23px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.section1-top {
  /* width: 49.02%; */
  /* width: 41.26%; */
  /* margin: 0 auto; */
  margin: 91px auto 85px;
}

.portfolio {
  width: 95.09%;
  margin: 0 44px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis:18.09%;
  margin-right: 7.25%;
}

.portfolio-item:nth-of-type(4n) {
  margin-right: 0;
}

.portfolio-item:nth-of-type(-n+4) {
  margin-bottom:44px;
}
  
.portfolio-item > a {
  width: 100%;
  z-index: 5;
}

.list-inner-img {
  margin: 0 auto;
  width: 26.18%;
}

.list-inner-img > img {
  border-radius: 50%;
} 

.list-img {
  background: green;
  border-radius: 50%;
}

.list-img > img:hover{ 
  opacity: 0.5;
}

.portfolio-inner {
  display: none;
  transform: translateY(-130%); 
}

.portfolio-inner > h4 {
  margin-top: 33px;
  font-size: 33px;
  text-align: center;
  color: #FFF;
}

.portfolio-inner > p {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  color: #FFF;
}

.portfolio-filters {
  width: 49.02%;
  /* margin-top: 64px; */
  margin: 64px auto 0;
  display: flex;
  justify-content: space-between;
}

.section1-bottom {
  margin-bottom: 96px;
}

.section2 {
  background-color: #16a086;
}

.section2 > div {
  padding:97px 0 137px;
}
.section2-title {
  color: #FFF;
  font-size: 53px;
  text-align: center;
}

.section2-para {
  margin-top: 19px;
  color: #FFF;
  font-size: 24px;
  text-align: center;
}

.section2-list {
  width: 83.21%;
  /* margin: 0 8.39%; */
  margin: 80px 8.39% 0;
  display: flex;
  justify-content: space-between;
}
  
.sec2-listitem {
  padding-bottom: 24px;
  background-color: #FFF;
  flex-basis: 28.32%;
}

.social-links {
  width: 81.11%;
  margin: 0 auto;
  display: none;
  transform: translateY(-274%);
  opacity: 0.8;
  /* position: relative; */
}

.member-img {
  position: relative;
  z-index: 5;
}


.member-name {
  font-size: 32px;
  text-align: center;
  /* transform: translateY(-55px); */
  /* transform: translateY(-150%); */
  transform: translateY(33px);
}

.member-profile {
  text-align: center;
  /* transform: translateY(-49px); */
  /* transform: translateY(-168%); */
  transform: translateY(39px);
  font-size: 25px;
}

.member-info {
  padding: 0 7.02% 0 4.84%;
  margin-top: 75px;
  font-size: 25px;
  /* transform: translateY(-12px); */
  /* transform: translateY(-8%); */
}

.section3 > div > h3 {
  font-size: 53px;
  text-align: center;
}

.section3 > div > p {
  font-size: 24px;
  text-align: center;
}

.contact-section > div > h4 {
  font-size: 26px;
  text-transform: uppercase;
}

.contact-section > div > ul {
  font-size: 24px;
  display: list-item;
}

.infoitem {
  display: list-item;
}

.name-error ,.email-error ,.message-error {
  display: none;
}

.contact-section {
  display: flex;
}

.contact-form {
  /* flex-basis: 48.80%; */
  flex-basis: 46.1%;
}

.section3 > div {
  /* padding-top: 87px; */
  /* padding-bottom: 112px; */
  padding: 87px 0 112px;
  background-color: #ecf0f1;
}

.section3-para {
  margin-top: 20px;
}

.form-top {
  display: flex;
}

.ip-name,.ip-email {
  width: 100%;
}

.contact-section > div {
width: 100%;
}

.ip-name > input ,.ip-email > input ,textarea {
  width: 100%;
  padding: 30px 2.92%;
  font-size: 23px;

}

.submit-btn {
  padding: 19px 6.43% 14px;
  margin-left: auto;
  border: none;
  display: block;
  background-color: #1bbc9b;
  color: #FFF;
  font-size: 23px;
  text-transform: uppercase;

}

.list-img > img:hover + .portfolio-inner {
  display: block;
}

.member-img:hover{
z-index: 0;
}

.member-img:hover + .social-links {
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}

/* .social-links:hover + .member-img {
  z-index: 0;
} */

.list-img:hover {
  cursor: pointer;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  background-color: #2d3e50;
  color: #FFF;
}

footer > div {
  padding: 68px 0 66px;
  display:flex;
  justify-content: space-between;
}

.footer-para {
  font-size: 22px;
}

.back-to-top {
  width: 4.79%;
  display: inline-block;
  /* text-indent: -9999px; */
  background-color: #1bbc9b;
  cursor: pointer;
  
}

.back-to-top::before {
  font-family: "FontAwesome";
  font-size: 30px;
  content: "\f106";
  float: right;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  